.questionList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.questionItem {
  margin-bottom: 10vh;
  padding: 1em;
  border: 2px solid rgba(255, 0, 0, 0.363);
  border-radius: 5px;
  background-color: rgb(167, 212, 243);
}

.titleQuestion {
  color: #053154;
  font-size: calc(10px + 2vmin);
}

.answersList {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.answerItem {
  margin: 2vh 1vw;
  width: calc((100% - 4vw) / 2);
}

.answerLabel {
  width: 70%;
  margin: auto;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: calc(7px + 2vmin);
}
