.title {
  margin-bottom: 40px;
}

.icon {
  margin-left: 1.5vw;
}

.link {
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #053154;
  text-shadow: rgb(255 255 255 / 60%) 1px 1px 0;
  background-color: #3bb3e0;
  border-radius: 5px;
}

.link:not(:last-child) {
  margin-right: 25px;
  color: red;
}

.btnsBlock {
  display: flex;
  margin-bottom: 1em;
}
